flows (1).json
[{"id":"77201ede.d1bb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb73db1f.d66e88","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9a540a35.ae9eb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ac1d7d6.850e68","type":"ui_group","z":"","name":"Default","tab":"9a540a35.ae9eb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ffd62da.4f54ae","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1b11140.4e4ef","type":"inject","z":"77201ede.d1bb","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":420,"y":120,"wires":[[]]},{"id":"ef2cf32e.64e7c","type":"ibmiot in","z":"77201ede.d1bb","authentication":"apiKey","apiKey":"fb73db1f.d66e88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"SAMSUNG","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":180,"wires":[["b1c3404f.dc1ac"]]},{"id":"b1c3404f.dc1ac","type":"debug","z":"77201ede.d1bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":180,"wires":[]},{"id":"73367e65.25c41","type":"ui_button","z":"77201ede.d1bb","name":"","group":"5ac1d7d6.850e68","order":0,"width":0,"height":0,"passthru":false,"label":"ALERT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":260,"wires":[["7d81263c.eec228"]]},{"id":"7d81263c.eec228","type":"ibmiot out","z":"77201ede.d1bb","authentication":"apiKey","apiKey":"fb73db1f.d66e88","outputType":"cmd","deviceId":"123456","deviceType":"SAMSUNG","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":260,"wires":[]},{"id":"9b333b55.8d5648","type":"http in","z":"77201ede.d1bb","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":360,"wires":[["34d41ce9.5011e4"]]},{"id":"1ad91865.1cdd68","type":"http response","z":"77201ede.d1bb","name":"","statusCode":"","headers":{},"x":610,"y":360,"wires":[]},{"id":"34d41ce9.5011e4","type":"function","z":"77201ede.d1bb","name":"MEDICINE DETAILS","func":"msg.payload={\t\"8:00\": \"Olmat\",\n\t\"9:30\": \"Metxl\",\n\t\"11:15\": \"Aspirin\",\n\t\"12:00\": \"Metformin\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["1ad91865.1cdd68"]]},{"id":"88eb2d4c.314a7","type":"ui_button","z":"77201ede.d1bb","name":"","group":"5ac1d7d6.850e68","order":1,"width":0,"height":0,"passthru":false,"label":"MEDICINES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"8:00\":\"Olmat\",\"9:30\":\"Metxl\",\"11:15\":\"Aspirin\",\"12:00\":\"Metformin\"}","payloadType":"json","topic":"","x":350,"y":300,"wires":[["7d81263c.eec228"]]},{"id":"8fe70d2b.9affc","type":"inject","z":"77201ede.d1bb","name":"","topic":"","payload":"{     \"8 a m\": \"Olmat\",     \"9 30 a m\": \"Metxl\",     \"11 15a m\": \"Aspirin\",     \"12p m\": \"Metformin\" }","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":500,"wires":[["d9220d50.65728"]]},{"id":"d9220d50.65728","type":"watson-text-to-speech","z":"77201ede.d1bb","name":"","lang":"en-US","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"sS5PpF_pvooBdIH8RfypgdCg5W_2EoQ890P3ZK1XoUpf","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/affd277e-aa23-4550-8ded-61dec50ab360","x":480,"y":500,"wires":[["c592fa2c.299988"]]},{"id":"c592fa2c.299988","type":"play audio","z":"77201ede.d1bb","name":"","voice":"0","x":730,"y":500,"wires":[]}]